<div class="input-append pagination-centered">
  <input type="search" class="input-xlarge" placeholder="Search" name="search" id="search"/>
         <span class="add-on">
            <i class="icon-search"></i>
          </span>
</div>
<aside >
  <%= link_to "Sports", sports_path %><br>
  <%= link_to "Academies", academies_path%> <br>
  <%= link_to "Users", users_path %> <br>
  <%= link_to "Sporcads", sporcads_path %>  <br>
  <%= link_to "Bookings", bookings_path %>

</aside>