<%= form_for(@academy) do |f|  %>
 <%=  render :partial => 'shared/errors', :locals => {:record_object => @academy} %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
