
<table>
  <thead>
    <th>Name</th>
    <th>Email</th>
  </thead>
  <tbody>
    <tr>
      <td><%=  @user.name %></td>
      <td><%=  @user.email %></td>
      <td><%= link_to "Update Profile", edit_user_path(@user) %></td>
    </tr>
  </tbody>
</table>
<% if signed_in? %>
  <%= render 'seller_profile' if current_user.role == "seller" %>
  <%= render 'super_profile' if current_user.role == "super" %>
  <%= render 'buyer_profile' if current_user.role == "buyer" %>
<%end%>

