<h1>Sporcads</h1>
<table>
  <tr>
    <td>Academy &nbsp &nbsp</td>
    <td>Sport</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <% @sporcads.each do |sc| %>
    <tr>
      <td><%= sc.academy.name %> </td>
      <td><%= sc.sport.name %></td>
      <td><%= link_to 'Show', sc %></td>
      <td><%= link_to 'Edit', edit_sporcad_path(sc) %></td>
      <td><%= link_to 'Delete', sc, method: :delete, confirm: "Are you sure?" %></td>
    </tr>
   <% end %>
</table>

<%= link_to "Create new", new_sporcad_path %>
