<h1>Sporcads#show</h1>
<table>
  <tr>
    <td>Academy</td>
    <td>Sport</td>

  </tr>
  <tr>
      <td><%= @sporcad.academy.name %></td>
      <td><%= @sporcad.sport.name %></td>
  </tr>
 </table>

<%= link_to 'Back', sporcads_path %>

<h2>Bookings made:</h2>
<%= render '/bookings/booked' %>
<h2>Book this court:</h2>

<%= form_for ([@sporcad,@sporcad.bookings.build]) do |f| %>

  <%= f.datetime_select  :booked_at, :start_year => 2012, :end_year => 2012,
                         :prompt => { :day => 'Select day', :month => 'Select month', :hour => 'Select Time'},
                         :discard_minute => true%>
  <%= f.submit %>
<% end %>

