<h1>Sporcads#Showing Bookings</h1>
<table>
  <tr>
    <td>Academy</td>
    <td>Sport</td>

  </tr>
  <tr>
      <td><%= @sporcad.academy.name %></td>
      <td><%= @sporcad.sport.name %></td>
  </tr>
 </table>

<%= link_to 'Back', sporcads_path %>

<h2>Bookings made:</h2>
<%= render '/bookings/booked' %>

<% if @booking.id == nil %>   <%# @booking id will be nil when routed from sporcads#show and will have some v
    when routed from bookings#edit %>
  <h2>Book this court</h2>
<% else %>
  <h2>Update Booking:</h2>
<%end %>
<%= render 'bookings/form' %>
